*{margin:0}

body{
    width: 1024px;
    margin: 40px;
}

section.container{
    display: flex;
}

section.row{
    flex-direction: row;
}

section.column{
    flex-direction: column;
}

section.container.row{
    display:flex;
    justify-content:flex-start;
    background-color:#373c3f;
    align-items: center;
    height: 95px;
}

header ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    
}

header ul li{
    list-style: none;
    margin-left: 50px;
      
}

header ul li a{
    color: white;
    text-decoration: none;
}


section#home.container.row{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:340px; 
    background-color: #11abbf;
    color:white;
}

h1{
    font-size: 3.5em;
    padding-right: 1.7em;
    letter-spacing: .1em; 
}



section#home-web.container.row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 280px;
    background-color: #11ABBF;
}

div.web{
    padding: 30px 85px;
    font-size: 2.2em;
    color:#add4e3;
}


div.icon-home{
    font-size: 2em;
    padding-top: 30px;
    padding-right: 220px;     
    color: white;
}

section#robin.container.row{
    background-color:#27212D;
    height:250px;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

div.hood{
    width: 95%;    
    color:#9a8ba8;
    text-align: center;
    letter-spacing: 0.2em;
    font-size: 1.5em;

}

div.icon-robin{
    display:flex;
    background-color:#BC3184;
    width: 20%;
    height: 250px;
    color:white;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

section#photos.container.row{
    display: flex;
    background-color: #5A0FA0;
    align-items: center;
    justify-content: flex-end;
    height: 250px;
}

#photos img{
    height:250px
    width:33%;
    height:250px
}

div.icon-photos{
    color: white;
    width: 33%;
    justify-content: center;
    align-items: center;
    align-content: center;
}