*{margin:0}

body{
    margin: 40px;
}

section.container{
    display: flex;
}

section.row{
    flex-direction: row;
}

section.column{
    flex-direction: column;
}

section.container.row{
    display:flex;
    justify-content:flex-start;
    background-color:#27212D;
    align-items: center;
    height: 50px;
}

header ul{
    display: flex;
    width: 100%;
    flex-direction: row;
    
}

header ul li{
    list-style: none;
    margin-left: 50px;
      
}

header ul li a{
    color: white;
    text-decoration: none;
}


section#home.container.row{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height:300px; 
    background-color: #11ABBF;
    color:white;
}

h1{
    font-size: 4.1em;
    padding-right: 2.8em;
    letter-spacing: .1em; 
}


section#home-web.container.row{
    display: flex;
    justify-content: space-around;
    height: 300px;
    background-color: #11ABBF;
}

div.web{
    opacity: 0.5;
}

div.icon-home{
    font-size: 2.5em;
    color: white;
}

section#robin.container.row{
    height:200px;
    display:flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

div.hood{
    background-color:#27212D;
    width: 70%;    
    color:white;
    text-align: center;
    font-size: 2em;

}

div.icon-robin{
    display:flex;
    background-color:#BC3184;
    width: 30%;
    height: 200px;
    color:white;
    align-items: center;
    justify-content: center;
    font-size: 2em;
}

section#photos.container.row{
    display: flex;
    background-color: #5A0FA0;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    height: 250px;
}

#photos img{
    width:19vw;
    height:250px
}

div.icon-photos{
    color: white;
    justify-content: center;
    align-items: center;
    align-content: center;
}